{% extends 'home/base.html' %}
{% load static %}
{% load player_tags %}

{% block title %} {{ movie.title }} {% endblock %}

{% block content %}
<div class="container">
        <div class="backdrop-image-container" style="margin-top: 40px;
                {% if movie.backdrop_path %}
                    background: rgb(0,0,0);
                    background: linear-gradient(90deg, rgba(0,0,0,1) 15%, rgba(1,1,1,0.36876757538953087) 83%, rgba(1,1,1,1) 97%), url('https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/{{ movie.backdrop_path }}') no-repeat;
                {% else %}
                    background: rgb(0,0,0);
                    background-image: linear-gradient(90deg, rgba(0,0,0,1) 5%, rgba(1,1,1,1) 49%, rgba(1,1,1,0.36876757538953087) 91%);
                {% endif %}
                ">
            <div class="top-left" style="margin-left: 1rem">
                <div class="title">
                    <h1>{{ movie.title }} ({{ movie.release_date|date:"Y" }})</h1>
                </div>
                <div class="movie-li-item">
                    <ul class="list-inline">
                        <!-- Run For Genres -->
                        {% for genre in movie.genres.all|slice:"2" %}
                        <li class="list-inline-item">{{ genre.name }}</li>
                        <li class="list-inline-item" style="align-self: center;">
                            <div class="dot"></div>
                        </li>
                        {% endfor %}
                        <!-- Add Runtime -->
                        <li class="list-inline-item">{% get_hr_min_format movie.runtime %}</li>
                        <li class="list-inline-item" style="align-self: center;">
                            <div class="dot"></div>
                        </li>
                        <!-- Add  Certification -->
                        <li class="list-inline-item">{{ movie.certification }}</li>
                    </ul>
                </div>
                <div class="rating">
                    {% resolve_rating movie.vote_average as ratings %}
                    {% for i in ratings %}
                    <span class="fa fa-star {{ i }}"></span>
                    {% endfor %}
                </div>
                <div class="overview-container">
                    <h2>Overview
                        <a>
                            <i id="close-button" class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </h2>

                    {% fix_overview movie.overview 20 as overview %}
                    <p style="width: 25rem;" class="text-justify text-wrap">
                        {{ overview.overview }}
                        {% if overview.add_info %}
                        <span class="collapse" id="overview" style="color: red">{{ overview.reaming_text }}</span>
                        <a id="overview-more-info"  data-toggle="collapse" href="#overview"
                            role="button" aria-expanded="false" aria-controls="overview">more info...</a>
                        {% endif %}
                    </p>
                </div>
                {% get_movie_credits movie.tmdb_id as credits%}
                <div class="small-credits">
                    {% get_director credits.crew 3 as directors%}
                    <div class="directors">
                        <h6>Director:
                            {% for director in directors %}
                            {{ director.name }}
                            {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </h6>
                    </div>
                    <div class="starring">
                        <h6> Starring:
                            {% for star in credits.cast|slice:"3" %}
                            {{ star.name }}
                            {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </h6>
                    </div>
                    <div class="tagline">
                        <span>{{ movie.tagline }}</span>
                    </div>
                </div>

                <div class="bottom-left">
                    <div class="all-buttons" style="display: table;">
                        <div class="play" style="display: table-cell;">
                            <button id="plat-btn">
                                <img class="img-fluid"style="width: 20%;height: auto;" src="https://img.icons8.com/ios-filled/100/FFFFFF/circled-play.png" />
                                <span style="padding-left: 1em;font-weight: initial;padding-right: 1em;">Watch
                                    Movie</span>
                            </button>
                        </div>
                        <div class="trailer" style="display: table-cell;">
                            <button id="trailer-btn">
                                <img class="img-fluid" style="width: 18%;height: auto;" src="https://img.icons8.com/android/100/FFFFFF/play.png"/>                                <span style="padding-left: 1em;font-weight: initial;padding-right: 1em;">Watch
                                    Trailer</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% if not movie.backdrop_path %}
            <img  src="https://image.tmdb.org/t/p/w220_and_h330_face{{ movie.poster_path }}"
                style="position: absolute;right: 20%;top: 17%">
            {% endif %}
            <div class="top-right">
                <img src="https://img.icons8.com/material/50/FFFFFF/plus-math--v2.png" />
            </div>
        </div>
    </div>
    <div class="">
        <div class="cast-info">

        </div>
    </div>

{% endblock %}


{% block add_css %}
<link rel="stylesheet" href="{% static 'movie/css/home.css'%}">
<!-- Font Awesome Icon Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block add_js %}
<script src="{% static 'movie/js/player.js' %}"></script>
{% endblock %}